{
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-apex",
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": "*.{cls,apex,trigger}",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}